<!--modal header-->
<div class='modal-header'>
  <h4 *ngIf='command == 0' class='modal-title'>{{command | commandFormat}}</h4>
  <h4 *ngIf='command == 2' class="modal-title">{{command | commandFormat}} of <span class='t_um_title'>{{whichTeacher.FirstName}} {{whichTeacher.LastName}}</span></h4>
  <button type="button" class='btn btn-sm btn-info tl_um_close_btn' aria-label="Close" (click)="activeModal.close('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--modal body-->
<div class='modal-body'>
  <app-teacher-modal-form [command]='command' [whichTeacher]='whichTeacher'></app-teacher-modal-form>
</div>

<!--modal footer-->
<div class='modal-footer'>
  <button type='button' class='btn btn-outline-dark'>Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>