<<<<<<< HEAD
.tl_footer{
    width:100%;
    min-height: 80px;
    background: #272822;

    text-align:center;
    color:white;
    font-weight: bold;
    line-height: 80px;
    font-size: 50px;
}

.tl_footer p{
    margin:0;
=======
div{
    width: 100%;
    height: 100px;
    background: #272822;
    color:white;
    text-align: center;
    font-weight: bold;
    font-size:50px;
    line-height:100px;
>>>>>>> 813b645ea06e2119eea7c041df9f8d7235bd83ff
}