<div class='tl_table'>
  <form action="" [formGroup]='registrationForm'>
      <div class='row form_group'>
        <label>DoB: </label>
        <input type="text" style='width: 20%;' disabled = 'disabledFlag' formControlName='dob' class='form-control'>

        <label>Gender: </label>
        <input type="text" style='width: 10%;' disabled = 'disabledFlag' formControlName='gender' class='form-control'>        

        <label>Email: </label>
        <input type="text" style='width: 33%;' disabled = 'disabledFlag' formControlName='email' class='form-control'style='width: 33%;' disabled = 'disabledFlag' formControlName='email' class='form-control'>  
      </div>

      <div class='row form_group'>
        <label>Moblie: </label>
        <input type="text" style='width: 37%;' disabled = 'disabledFlag' formControlName='email' class='form-control'>

        <label>Home: </label>
        <input type="text" style='width: 36.4%;' disabled = 'disabledFlag' formControlName='email' class='form-control'>
      </div>

      <div class='row form_group'>
          <label>IRD: </label>
          <input type="text" style='width:33%' disabled = 'disabledFlag' formControlName='email' class='form-control'>
      </div>
  </form> 
</div>