<div class='row'>
  <div class='popup col-md-10 col-lg-5 col-sm-12'>
    <div class='popup_main'>
      <div class='rpw'>
        <div class='col-12 popup_title'>
          Update
          <span class='far fa-times-circle closed' (click)='closed()'></span>
        </div>
    
        <div class='col-12'>
          <form action="" [formGroup] ='registrationForm'>
            <div class=''>
              <div class='row'>
                <div class='col-md-6 col-sm-12 popup_main_left'>
                  <div class='form bg'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>First Name</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='firstName'>
                  </div>
                  <div class='form'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>Last Name</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='lastName'>
                  </div>
                  <div class='form bg'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>Gender</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='gender'>
                  </div>
                  <div class='form'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>IRD Number</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='irdNumber'>
                  </div>
                  <div class='form bg'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>ID Type</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='idType'>
                  </div>
                  <div class='form'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>ID Number</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='idNumber'>
                  </div>
                  <div class='form bg'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>Expired Date</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='expiredDate'>
                  </div>
                 
                </div>
                <div class='col-md-6 col-sm-12 popup_main_right'>
                  <div class='form'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>Mobile Phone</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='mobilePhone'>
                  </div>
                  <div class='form bg'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>Home Phone</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='homePhone'>
                  </div>
                  <div class='form'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>Email</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='email'>
                  </div>
                  <div class='form bg'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>Qualification</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='qualification'>
                  </div>
                  <div class='form'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>Languages</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12' formControlName='languages'>
                  </div>
                  <div class='form bg'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>//</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12'>
                  </div>
                  <div class='form'>
                    <label class='col-md-4 col-sm-4 col-xs-12'>//</label>
                    <input type="text" class='col-md-8 col-sm-8 col-xs-12'>
                  </div>
                  
                </div>
                
              </div>
            </div>
          </form>
        </div>
        <div class='col-12 popup_main_bottom'>
            fsdfs
        </div>
      </div>
    </div> 
  </div>
</div>