<p>
  Avaliable a week
</p>
<div class='row'>
  <div class='col-md-4 col-lg-4 col-sm-2 weeks'>
    <div class='week_icon'><span *ngIf='monFlag'>Mon</span><span class='far fa-times-circle' *ngIf='!monFlag'></span></div>
  </div>
  <div class='col-md-4 col-lg-4 col-sm-2 weeks'>
    <div class='week_icon'><span *ngIf='tueFlag'>Tue</span><span class='far fa-times-circle' *ngIf='!tueFlag'></span></div>
  </div>
  <div class='col-md-4 col-lg-4 col-sm-2 weeks'>
    <div class='week_icon'><span *ngIf='wedFlag'>Wed</span><span class='far fa-times-circle' *ngIf='!wedFlag'></span></div>
  </div>
  <div class='col-md-4 col-lg-4 col-sm-2 weeks'>
    <div class='week_icon'><span *ngIf='thuFlag'>Thu</span><span class='far fa-times-circle' *ngIf='!thuFlag'></span></div>
  </div>
  <div class='col-md-4 col-lg-4 col-sm-2 weeks'>
    <div class='week_icon'><span *ngIf='friFlag'>Fri</span><span class='far fa-times-circle' *ngIf='!friFlag'></span></div>
  </div>
  <div class='col-md-4 col-lg-4 col-sm-2 weeks'>
    <div class='week_icon'><span *ngIf='satFlag'>Sat</span><span class='far fa-times-circle' *ngIf='!satFlag'></span></div>
  </div>
</div>