<div class='container' >
    <div *ngFor ='let i of teachers'>
        <div class='tl_content_left'>
        </div>
        
        <div class='tl_content_right'>
            <div class='tl_content_right_block1'>
                <div class='tl_content_right_block1_name'>
                    {{i.firstName}} {{i.lastName}} 
                </div>
            </div>
            
            <div class='tl_content_right_block2'>
                <div>1: {{i.gender}}</div>
                <div>2</div>
                <div>3</div> 
            </div>
    
            <div class='tl_content_right_block3'>
    
            </div>
        </div>
    
        <div class='clear'></div> 
    </div>
</div>