<!--modal header-->
<div class="modal-header">
    <h4 class="modal-title">{{command}}</h4>
    <button type="button" class='btn btn-sm btn-info tl_md_btn' aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <!--modal body-->
  <div class='modal-body tl_md_body'>
    Are you sure to delete <span class='tl_md_body_name'>{{witchTeacher.FirstName}} {{witchTeacher.LastName}}?</span>
  </div>
  
  <!--modal footer-->
  <div class='modal-footer'>
    <button type='button' class='btn btn-outline-dark' (click)='delete()'>Delete</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Cancel</button>
  </div>