.tl_show{
    min-height: 200px;
    border: 1px solid lightblue;
    border-radius:  10px;
}
.tl_show_left{
    text-align: center;
    min-height: 100%;
    margin-bottom: 10px;
}
.tl_show_left img{
    max-width: 140px;
    margin-top:20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tl_show_name{
    min-height: 30%;
}
.tl_show_area{
    min-height: 100%;
    padding-left:0;
    margin-left: 0;
}
.tl_show_delete_font{
    font-style: italic;
    font-weight: bold;
}