<div class='tl_show' *ngIf='titles=="Detail"'>
  <div class='tl_show_area'>
    <app-tablelist [title]='titles' [teachersObj] = 'teachersObj'></app-tablelist>
  </div>
</div>

<div *ngIf='titles=="Delete"'>
  Are you sure to delete <span class='tl_show_delete_font'>{{teachersObj.firstName}} {{teachersObj.lastName}}</span>?
</div>

<div *ngIf='titles=="Edit"' class='tl_show'>
  <div class='tl_show_area'>
    <app-tablelist [title]='titles' [teachersObj]='teachersObj'></app-tablelist>
  </div>
</div>

<div *ngIf='titles=="Add"' class='tl_show'>
  <div class='tl_show_area'>
    <app-tablelist [title]='titles'></app-tablelist>
  </div>
</div>