<div class='tl_table'>
  <form action="" [formGroup]='registrationForm'>
    <div class='row' style='margin: 0'>

      <!--上半部分-->
      <div class='col-12'>
        <div class='row tl_forms'>
          <!--img area-->
          <div class='col-3 tl_form_img'>
            <img src="../assets/img/photo.jpeg" alt="">
          </div>
          <!--input area-->
          <div class='col-9' style='margin-right:0;padding-right:0'>

            <!--line1 forms-->
            <div class='row tl_forms'>
              <!--firstName input-->
              <div class='tl_forms_item col-4'>
                <label for="firstName" style="width:50%" class='tl_forms_item_left_one'>FirstName: </label>
                <input #dis type="text" name="firstName" id="firstName" style='width:50%' disabled formControlName='firstName'>
              </div>
              <!--lastName input-->
              <div class='tl_forms_item col-4'>
                <label for="lastName" style="width:50%">LastName: </label>
                <input #dis type="text" name="lastName" id="lastName" style='width:50%' disabled formControlName='lastName'>
              </div>
              <!--gender input-->
              <div class='tl_forms_item col-4'>
                <label for="gender" style="width:45%">Gender: </label>
                <input *ngIf='title=="Detail"' type="text" name="gender" id="gender" style='width:55%' disabled formControlName='gender'>
                <select *ngIf='title!=="Detail"'name="gender" id="gender" style='width: 55%'>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>

            <!--line2 forms-->
            <div class='row tl_forms'>
              <!--DoB input-->
              <div class='tl_forms_item col-5'>
                <label for="dob" style="width:20%" class='tl_forms_item_left_one'>DoB: </label>
                <input *ngIf='title=="Detail"' type="text" name="dob" id="dob" style='width:80%' disabled formControlName='dob'>
                <input *ngIf='title!=="Detail"' type="date" name='dob' id='dob' style='width: 80%'>
              </div>
              <!--qualification input-->
              <div class='tl_forms_item col-7'>
                <label for="qualifications" style="width:35%">Qualifications: </label>
                <input *ngIf='title=="Detail"' type="text" name="qualifications" id="qualifications" style='width:65%' disabled formControlName='qualifications'>
                <select *ngIf='title!=="Detail"' name='qualifications' id='qualifications' style="width: 65%">
                  <option value="" *ngFor='let i of qualifications'>{{i.QualiName}}</option>
                </select>
              </div>
            </div>

            <!--line3 forms-->
            <div class='row tl_forms'>
              <!--Mobile phone input-->
              <div class='tl_forms_item col-6'>
                <label for="mobile" style="width:42%" class='tl_forms_item_left_one'>Mobile Phone: </label>
                <input #dis type="text" name="mobilePhone" id="mobile" style='width:58%' disabled formControlName='mobilePhone'>
              </div>
              <!--Home phone input-->
              <div class='tl_forms_item col-6'>
                <label for="home" style="width:42%">Home Phone: </label>
                <input #dis type="text" name="homePhone" id="home" style='width:58%' disabled formControlName='homePhone'>
              </div>
            </div>

            <!--line4 forms-->
            <div class='row tl_forms'>
              <!--email input-->
              <div class='tl_forms_item col-6'>
                <label for="email" style="width:20%" class='tl_forms_item_left_one'>Email: </label>
                <input #dis type="text" name="email" id="email" style='width:80%' disabled formControlName='email'>
              </div>
              <!--ird Number input-->
              <div class='tl_forms_item col-6'>
                <label for="ird" style="width:42%">IRD Number: </label>
                <input #dis type="text" name="irdNumber" id="ird" style='width:58%' disabled formControlName='irdNumber'>
              </div>
            </div>

            <!--line5 forms-->
            <div class='row tl_forms'>
              <!--languages input-->
              <div class='tl_forms_item col-12'>
                <label for="lan" style="width:18%" class='tl_forms_item_left_one'>Languages: </label>
                <input #dis type="text" name="languages" id="lan" style='width:82%' disabled formControlName='languages'>
              </div>
            </div> 
          </div>
        </div>
      </div>

      <!--下半部分-->
      <div class='col-12'>
         <!--line6 forms-->
         <div class='row tl_forms'>
          <!--id type input-->
          <div class='tl_forms_item col-3'>
            <label for="type" style="width:35%" class='tl_forms_item_left_one'>ID Type: </label>
            <input #dis type="text" name="idType" id="type" style='width:65%' disabled formControlName='idType'>
          </div>
          <!--id Number input-->
          <div class='tl_forms_item col-4'>
            <label for="idNumber" style="width:40%">ID Number: </label>
            <input #dis type="text" name="idNumber" id="idNumber" style='width:60%' disabled formControlName='idNumber'>
          </div>
          <!--id Number input-->
          <div class='tl_forms_item col-5'>
            <label for="expired" style="width:25%">Expired: </label>
            <input *ngIf='title=="Detail"' type="text" name="expired" id="expired" style='width:75%' disabled formControlName='expired'>
            <input *ngIf='title!=="Detail"' type="date" name="expired" id="expired" style='width:75%' formControlName='expired'>
          </div>
        </div> 
      </div>
    </div>
  </form> 
</div>