.tl_muf_table{
    border: 1px solid lightblue;
    padding: 12px;
    border-radius:10px;
}
.tl_muf_photo_area{
    min-height: 200px;
    text-align: center;
}
.tl_muf_photo{
    max-width: 160px;
    margin-right: 10px;
    border-radius: 10px;
}
.tl_muf_upload_img {
    opacity: 0;
    position: absolute;
}
.tl_muf_upload_img_title{
    position: relative;
    left: -7px;
    top:-5px;
}
.tl_muf_upload_img_btn{
    color:lightblue;
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    background: white;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    left: 140px;
    top:185px;
    box-shadow: 0px 0px 0px 4px white;
}
.tl_muf_upload_img_btn:hover{
    cursor: pointer;
    background: lightblue;
    color: white;
}
.tl_muf_form{
    margin-bottom: 10px;
    text-align: center;
}
.tl_muf_lables{
    font-weight: bold;
    text-align: center;
}
.tl_muf_lables_left{
    text-align: left!important;
}
.tl_muf_inputs{
    text-align: center;
    text-align-last: center;
    width: 100%;
    border:none;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.tl_muf_right_week{
    margin-right: 0!important;
}
.tl_muf_weeks_area{
    padding:5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}
.tl_muf_weeks_title{
    font-weight: bold;
    text-align: center;
}
.tl_muf_weeks{
    margin-bottom: 10px;
}
.tl_muf_each_week{
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin:5px;
}
.tl_muf_each_week_title{
    background:#f3f1f1;
}
.tl_muf_each_week div:nth-child(1){
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}
.tl_muf_orgName{
    text-align: center;
}
.tl_muf_each_week_label{
    text-align: center;
}



#languages{
    text-align: center;
    font-weight: bold;
}
#tl_muf_form_languages{
    border:1px solid lightgray;
    border-radius: 5px;
}
#tl_muf_branches_select_title{
    text-align: center;
    font-weight: bold;
}
.tl_muf_form_bottom_area{
    margin-top:10px;
}
.error_border{
    border: 1px solid #dc3545;
    border-radius:5px;
    outline: none;
}
.error_message{
    margin-top:-5px;
}


