<!--modal header-->
<div class="modal-header">
  <h4 class="modal-title" *ngIf='command !== "Edit"'>{{command}}</h4>
  <h4 class='modal-title' *ngIf='command == "Edit"'>Update <span class='tl_mu_title'>{{witchTeacher.FirstName}} {{witchTeacher.LastName}}</span></h4>
  <button type="button" class='btn btn-sm btn-info tl_mu_btn' aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<!--modal body-->
<div class='modal-body'>
  <app-modal-update-form [witchTeacher]='witchTeacher' [command]='command'></app-modal-update-form>
</div>

<!--modal footer-->
<div class='modal-footer'>
  <button type='button' class='btn btn-outline-dark' (click)='submit()'>Save</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>