/* You can add global styles to this file, and also import other style files */
.row{
    padding:0;
    margin: 0;
}
.col-12, .col-4, .col-8, .col-1, .col-2, .col-3, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11{
    padding: 0;
    margin: 0;
}