.t_dm_name{
    font-weight: bold;
    font-style: italic;
}
.tl_dm_btn{
    background: white;
    border: 1px solid black;
    color:black;
}
.tl_dm_btn:hover{
    background: #343A40;
    border: 1px solid #343a40;
    color:white;
}