.tl_mf_table_img{
    text-align: center;
    padding: 0;
    margin:0;
}
.tl_mf_table_img img{
    max-width: 150px;
    border-radius: 5px; 
}
.tl_mf_table_forms{
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}
.tl_table{
   
}
.tl_forms{
    padding: 0;
    margin: 0;
    margin-top: 5px;
}
.tl_forms_item{
    padding: 0;
    margin: 0;
}
.tl_forms_item label{
    font-weight: bold;
    text-align:center;
}
.tl_forms_item_left_one{
    text-align:left!important;
}
.tl_forms_item input{
    border:none;
    border:1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
}
.tl_forms_item select{
    border:none;
    border:1px solid lightgrey;
    border-radius: 5px;
    text-align: center;
    text-align-last: center;
}
.tl_form_img{
    text-align: center;
    padding: 0;
}
.tl_form_img img{
    max-width: 155px;
    margin-top: 10px;
    border-radius: 10px;
}
.tl_form_img_add img{
    max-width: 185px;
    margin-top: 10px;
    border-radius: 10px;
}
